body{
	/**background-color: #d4cfcac9
	margin: 0;
	padding: 0;**/ 
	background-image: url("../images/regal.png");
	width: 100%;
	margin: auto;
	
}

.container {
	width: 960px;
}

.header {
	width: 22%;
    margin: 20px;
    text-align: center;
    position: static;
    top: 0;
}

a {
	text-decoration: none;
}

li{
	list-style: none;
	float: left;
	margin-left: 15px;
	position: relative;
	right: 20px;
	bottom: 150px;
	
}

.nav {
	float: right;
	margin: 90px;
}

.nav a:hover {
	background-color: #7f9bb6;
	color: white;
}

.connect {
	float: right;
    text-align: center;
    position: relative;
    top: 60px;
    right: 5px;
    background-color: rgb(211, 211, 211);
    width: 280px;
    border: 15px solid #7f9bb6;
    padding: 15px;
    margin: 15px;
    margin-right: 17px;
    color: rgb(70, 130, 199);
}


.footer {
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #7f9bb6;
	color: white;
	padding: 15px;
}

.placeholderone {
	margin-right: 10px;
	position: relative;
	top: 15px;
}

.placeholdertwo {
	position: relative;
    top: 17px;
    left: 67px;
}

.placeholderthree {
	position: relative;
    left: 1px;
    float: left;
    bottom: 0px;
}

.placeholderfour {
	position: relative;
	top: 300px;
	right: 290px;
}

.placeholderfive {
	position: relative;
    bottom: 288px;
    left: 357px;
	
}

.inputform {
	position: absolute;
	margin: 20px;
	top: 137px;
	padding: 12px;
	padding-bottom: 20px;
}

input[type=text] {
	padding: 12px;
    height: 12px;
    width: 224%;
}

input[type=message] {
	padding: 12px;
    height: 191px;
    width: 357px;
    margin-left: 30px;
    position: absolute;
    margin-top: 196px;
}


textarea {
	position: absolute;
    top: 155px;
    left: 12px;
}

#submit {

	position: absolute;
    margin-left: 2px;
    margin-top: 176px;
}

h1 {
	color: white;
    background-color: #7f9bb6;
    margin: 25px;
    position: relative;
    top: 24px;
    left: 101px;
    padding: 10px;
}

p, h1, {
	font-family: 'Roboto Slab', serif;
}


img{
	float: left;
	width: 10%
	padding: 15px;
	margin: 20px;
}

.main-content {
	width: 800px; 
	height: 900px;
}





/** Media Screens for Index Page **/

@media screen and (max-width: 980px) {

    .connect {
        width: 275px;
        height: 133px;
    }

}

@media screen and (max-width: 768px) {

    .content {
        top: 19px;
        position: relative;
    }

    .connect {
        position: relative;
        top: -63px;
        left: 482px;
    }
}

@media screen and (max-width: 640px) {
	.container {
		width: 70%;

	}

	img {
		width: 28%;
        height: 13%;
	}

	h1 {
		margin-right: -58px;
		left: 43px;
	}

    
}

/** Media Screens for Index Page ENDS **/

/** Media Screens for Portfolio (not working?) Page BEGINS **/

@media screen and (max-width: 980px)  {
   
   .main-content {
	bottom: 241px;
    position: relative;
}

   .connect {
    position: relative;
    top: 13px;
    left: 616px;
   }
    
}

@media screen and (max-width: 768px) {
     h1 {
		 margin-right: -31px;
	 }

	 .main-content {
		position: relative;
		bottom: 204px;
	 }


     .placeholdertwo {
		bottom: 237px;
		position: relative;
	}

	 .placeholderthree {
		bottom: 261px;
		position: relative;
	 }

	 .placeholderfour {
		 top:17px;
		 position: relative;
	 }

	 .placeholderfive {
		 bottom: 528px;
		 position: relative;
	 }
}

@media screen and (max-width: 640px) {
	
}



/** Media Screens for Contact Page BEGINS **/

@media screen and (max-width: 980px) {

    .connect {
        position: relative;
        top: 60px;
        left: 530px;
    }
}




@media screen and (max-width: 768px) {
      h1 {
         margin-right: -10px;
         }

      .connect {
        position: relative;
        top: -153px;
      }

}

@media screen and (max-width: 640px) {

      .nav {
        float: right;
        margin: 63px;
      }

      h1 {
        margin-right: -44px;
      }

      .connect {
        position: relative;
        top: -64px;
      }
}

/** Media Screens for Contact Page ENDS **/