/*PARALLAX EFFECT CODE */

body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
	color: #666;
	/* background-image: url("../images/regal.png"); */
}

#about, .container {
    background-image: url("../images/regal.png");
}

#aboutme {
    position: relative;
    left: 135px;
    color: #1b5288;
    font-family: "Lato", sans-serif;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* if you want to remove effect, you can switch fixed to scroll*/
}
/* #snehabio {
    height: 250px;
    width: 250px;
} */

.pimg1 {
    background-image: url("../images/pic1.jpg");
    /* background-repeat: no-repeat; */
    min-height: 100%;
}

.pimg2 {
    background-image: url("../images/pic2.jpg");
    min-height: 400px;
}

.pimg3 {
    background-image: url("../images/pic3.jpg");
    min-height: 400px;
}

.pimg4 {
	background-image: url("../images/pic4.jpg");
    min-height: 600px;
}

.pimg5 {
	background-image: url("../images/pic5.jpg");
    min-height: 600px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;

}

.ptext .border.trans{
    background-color: transparent;
}

@media screen and (max-width: 568px) {
    .pimg1 .pimg2 .pimg3{
        background-attachment: scroll;
    }
}

/* general styles */
html, body {
    height: 100%;
    width: 100%;
  }
  /* padded section */
  .pad-section {
    padding: 50px 0;
  }
  .pad-section img {
    width: 100%;
  }
  /* vertical-centered text */
  .text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  /* additional sections */
  #home {
    background: url(../images/home.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /* #about {
  } */
  #services {
    background-color: #306d9f;
    color: #306d9f;
  }

  #productTitle {
      color: #FFFFFF;
  }

  #services .glyphicon {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
  }
  #information {
    background: url(../images/estate.jpg) no-repeat center center fixed;
    display: table;
    height: 800px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #information .panel {
    opacity: 0.85;
  }
  #google_map {
    height: 500px;
  }
  footer {
    padding: 20px 0;
  }
  footer .glyphicon {
    color: #333333;
    font-size: 60px;
  }
  footer .glyphicon:hover {
    color: #306d9f;
  }

/* PARALLAX EFFECT CODE ENDS */

/* TEXT ANIMATION CODE BEGINS */


/* .text-animation {
	list-style: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.text-animation li{
	display: inline-block;
	margin-right: 5px;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-size: 5em;
	color: #70e1e2;
	opacity: 1;
	transition: all 2.5s ease;
}

.text-animation li:last-child{
	margin-right: 0;

}

.text-animation.hidden{
	opacity: 0;
}

.text-animation.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px);}
.text-animation.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px);}
.text-animation.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-88px);}
.text-animation.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px);}
.text-animation.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px);}
.text-animation.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px);}
.text-animation.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px);}
.text-animation.hidden li:nth-child(8) { transform: translateX(-200px) translateY(100px);}
.text-animation.hidden li:nth-child(9) { transform: translateX(10px) translateY(-200px);}
.text-animation.hidden li:nth-child(10) { transform: translateX(-300px) translateY(200px);}




 */

/*  TEXT ANIMATION CODE ENDS */ 


/* body{ */
	/**background-color: #d4cfcac9
	margin: 0;
	padding: 0;**/ 
	/* background-image: url("../images/regal.png"); */
	/* width: 100%; */
	/* margin: 0; */
	
/* } */

/* .container { */
	/* width: 960px; */
/* } */

/**Header and Nav styling BEGINS**/

/* .header { */
	/* width: 100%;
	text-align: center;
    top: 0;
} */


/* h1 {
	color: white;
    background-color: #7f9bb6
    
}

p, h1, {
	font-family: 'Roboto Slab', serif;
} */

/* #name {
	margin: 0;
}

#contactname {
	margin: 0;
}

#portfolioname {
	margin: 0;
} */

/* #aboutme {
	position: relative;
    left: 113px;
    top: 31px;
    color: #1b5288;
    font-size: 41px;
} */

/* a {
	text-decoration: none;
}

li{
	list-style: none;
	float: left;
	margin-left: 15px;
	position: relative;
	right: 20px;
	bottom: 150px;
	
}

.nav {
	float: right;
	margin: 90px;
	margin-top: 107px;
} */

/* .nav a:hover {
	background-color: #7f9bb6;
	color: white;
} */

/**Header and Nav styling ENDS**/

/**Connect Social Media Links BEGINS**/

.connect {
	float: right;
    text-align: center;
    position: relative;
    top: 60px;
    right: 5px;
    background-color: rgb(211, 211, 211);
    width: 280px;
    border: 15px solid #7f9bb6;
    padding: 15px;
    margin: 15px;
    margin-right: 17px;
    color: #1b5288;
}

#connectindex {
	position: relative;
	top: -311px;
}

#connectportfolio {
	position: relative;
	left: 380px;
}

#connectcontact {
	position: relative;
    left: 400px;
}



/**Connect Social Media Links ENDS**/

.footer {
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #7f9bb6;
	color: white;
	padding: 15px;
}

.title {
	position: absolute;
    margin-top: 5px;
    margin-left: 34px;
    top: 265px;
    z-index: 5;
    height: 45px;
    width: 222px;
    background-color: #f5f5f5;
    color: #ff69b4;
	font-weight: bold;
	text-align: center;
}

.placeholderone {
	margin-right: 10px;
	position: relative;
	top: 19px;
}

.placeholdertwo {
	position: relative;
    top: 17px;
    left: 67px;
}

.placeholderthree {
	position: relative;
    left: 1px;
    float: left;
    bottom: 0px;
}

.placeholderfour {
	position: relative;
	top: 300px;
	right: 290px;
}

.placeholderfive {
	position: relative;
    bottom: 288px;
    left: 357px;
	
}

.inputform {
	position: relative;
	top: 70px;
	left: 38px;
}

input[type=text] {
	padding: 12px;
	width: 30%;
    position: relative;
    top: 0px;
}

input[type=message] {
	padding: 12px;
    height: 191px;
    width: 357px;
    margin-left: 30px;
    position: absolute;
    margin-top: 196px;
}


textarea {
	position: relative;
    top: 147px;
    left: -64px;
}

#submit {

	position: absolute;
    margin-left: 2px;
    margin-top: 176px;
}


img{
	float: left;
	width: 10%
	padding: 15px;
	margin: 20px;
}

.main-content {
	width: 800px; 
	height: 900px;
}





/** Media Screens for Index Page **/

@media screen and (max-width: 980px) {

    .connect {
        width: 275px;
        height: 133px;
    }

}

@media screen and (max-width: 768px) {

    .content {
        top: 19px;
        position: relative;
    }

    .connect {
        position: relative;
        top: -63px;
        left: 482px;
    }
}

@media screen and (max-width: 640px) {
	.container {
		width: 70%;

	}

	img {
		width: 28%;
        height: 13%;
	}

	h1 {
		margin-right: -58px;
		left: 43px;
	}

    
}

/** Media Screens for Index Page ENDS **/

/** Media Screens for Portfolio (not working?) Page BEGINS **/

@media screen and (max-width: 980px)  {
   
   .main-content {
	bottom: 241px;
    position: relative;
}

   .connect {
    position: relative;
    top: 13px;
    left: 616px;
   }
    
}

@media screen and (max-width: 768px) {
     h1 {
		 margin-right: -31px;
	 }

	 .main-content {
		position: relative;
		bottom: 204px;
	 }


     .placeholdertwo {
		bottom: 237px;
		position: relative;
	}

	 .placeholderthree {
		bottom: 261px;
		position: relative;
	 }

	 .placeholderfour {
		 top:17px;
		 position: relative;
	 }

	 .placeholderfive {
		 bottom: 528px;
		 position: relative;
	 }
}

@media screen and (max-width: 640px) {
	.placeholdertwo {
		top: 13px;
		left: -2px;
		position: relative;
	
}



/** Media Screens for Contact Page BEGINS **/

@media screen and (max-width: 980px) {

    .connect {
        position: relative;
        top: 60px;
        left: 530px;
    }
}




@media screen and (max-width: 768px) {
      h1 {
         margin-right: -10px;
         }

      .connect {
        position: relative;
        top: -153px;
      }

}

@media screen and (max-width: 640px) {

      .nav {
        float: right;
        margin: 63px;
      }

      h1 {
        margin-right: -44px;
      }

      .connect {
        position: relative;
        top: -64px;
      }
}

/** Media Screens for Contact Page ENDS **/